*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    background-image: url(images/Rectangle.png);
    max-width: 1920px;
    height: 740px;
}

.container {
    width: 100%;
}

.header {
    width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.logo-site {
    margin-right: auto;
    margin-top: 40px;
}

.burger {
    margin-top: 40px;
    width: 50px;
    height: 50px;
}

.main-view {
    width: 734px;
    margin: 0 auto;
    margin-top: 150px;
}

.main-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-paragraph {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

main {
    margin: 0 auto;
    width: 1110px;
}

.block {
    position: absolute;
    height: 300px;
    width: 1110px;
    background-color: #F7F7F7;
    top: 590px;
}

.list-items {
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
}

.item-digit {
    margin-top: 57px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.block-desc-list {
    justify-content: space-between;
    width: 1110px;
}

.item-years {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.item-paragraph {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
    margin-bottom: 57px;
}

.card-image {
    width: 100%;
}

.block-description {
    width: 1110px;
    margin: 0 auto;
}

.block-desc-title {
    width: 1110px;
    top: 990px;
    position: absolute;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
}

.block-desc {
    margin-top: 60px;
    position: absolute;
    top: 1110px;
}

.mini-block {
    margin-top: 56px;
    width: 55px;
    height: 6px;
    background: #F7654A;
}

.item-desc-title {
    margin-top: 15px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
}

.item-desc-paragraph {
    margin-top: 20px;
    max-width: 350px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.border-newsletter {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    height: 181px;
    left: 0px;
    top: 1821px;
    background: #F7654A;
}

.border-block {
    margin: 0 auto;
    width: 1110px;
    height: 300px;
}

.border-text-1 {
    margin-top: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.border-text-2 {
    margin-top: 4px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.border-button {
    text-align: center;
    background-color: #FFFFFF;
    width: 175px;
    height: 50px;
    margin-left: auto;
    margin-top: 65px;
    background-image: url(images/.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.border-button p {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
}

.block-specialty {
    margin: 105px 405px;
    width: 1110px;
    position: absolute;
    top: 2152px;
}

.block-specialty-items {
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-block-specialty {
    width: 350px;
    background-color: #F7F7F7;
    margin-bottom: 30px;
}

.block-specialty-title {
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.item-block-title h4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.item-block-image {
    margin-top: 60px;
    text-align: center;
}

.item-block-title {
    margin: 30px auto;
    text-align: center;
    width: 170px;
}

.transition-images {
    width: 100%;
    position: absolute;
    top: 3000px;
}

.transition-item {
    margin: 0;
    padding: 0;
    width: 25%;
}

.transition-items {
    flex-wrap: wrap;
    width: 100%;
}

.transition-item img {
    width: 100%;
    height: 100%;
}

.block-questions {
    margin: 0 800px 0 405px;
    width: 1110px;
    position: absolute;
    top: 3905px;
}

.block-questions-header {
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.item-question-object {
    margin-top: 35px;
}

.object {
    width: 15px;
    height: 15px;
    background: #F7654A;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    margin-right: 15px;
}

.item-question h3 {
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #F7654A;
}

.item-question-paragraph {
    width: 730px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.our-partners-block {
    position: absolute;
    top: 4550px;
    width: 100%;
    height: 364px;
    background: #404149;
}

.our-partners-block h2 {
    margin-top: 100px;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.list-partners {
    justify-content: space-between;
    margin: 60px 405px 0 405px;
}

.review {
    width: 1110px;
    margin: 0 405px 0 405px;
}

.block-review {
    position: absolute;
    top: 5020px;
}

.review-title {
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.list-reviews {
    margin-top: 60px;
    justify-content: space-between;
}

.review-text {
    padding: 20px;
    background-color: #F7F7F7;;
    width: 350px;
}

.review-text-paragraph {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}

.mini-title {
    width: 350px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #000000;
}

.mini-title span {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #F7654A;
}

.border-newsletter-two {
    position: absolute;
    top: 5540px;
    width: 100%;
    height: 181px;
    left: 0px;
    background: #F7654A;
}


.block-contacts {
    position: absolute;
    top: 5800px;
    width: 1100px;
    margin: 0 405px 0 405px;
}

.contacts-title {
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.image-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}

.image-contact {
    width: 40px;
    height: 40px;
}

.contact-item {
    text-align: center;
    width: 300px;
}

.mini-title-contact {
    width: 255px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.mini-title-contact-4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #F7654A;
}

.list-contacts {
    justify-content: space-between;
}

footer {
    width: 100%;
    position: absolute;
    top: 6250px;
    background: #404149;
    height: 82px;
}

.info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.info-footer {
    width: 1110px;
    margin: 0 405px 0 405px;
}

.info {
    margin-top: 13px;
}

.info1 {
    margin-right: auto;
}